.c-base-1 {
    color:#0C0A0A
}
.bg-c-base-1 {
    background-color: #F9FDFE;
}
.c-base-two {
    color: #FF3863;
}
nav{
    padding: 1.5rem 0px;
}
.menu{
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin: 0px;
    padding: 0px;
}
.menu--bg-green{
    background-color: #386e77;
}
.menu--justifyContent-space-evenly{
    justify-content: space-evenly;
}
.menu_links{
    padding: 0px 1rem;
    position: relative;
    color: gray;
    font-weight: 500;
}
.menu_links-active{
    color: #0056b3;
}
.menu_links:hover{
    text-decoration: none;
}
.container-avatar{
    text-align: center;
    background-color: #C0E3E7;
}
.container-section{
    display: flex;
    align-items: center;
}
.avatar{
    border-radius: 50%;
}
.dropDown{
    position: relative;
    display: inline-block;
}
.img-skill{
    max-height: 70px;
    width: auto;
}
svg{
    width: 80px;
    height: 80px;
}
.icons{
    font-size: 60px;
}
.icons-contact{
    font-size: 32px;
    color: #F9FDFE;
}
.icons-contact:hover{
    color: #0C0A0A;
}
h1, h3, p{
    color: #292828;
}
.col-sections{
    display: flex;
    align-items: center;
}
.menu_links::after {
    content: ' ';
    width: 0;
    background-color: #FF3863;
    height: 2px;
    position: absolute;
    right: 0;
    left: 0;
    bottom: -5px;
    transition: ease-in-out width .3s;
    margin:auto;
}
.menu_links:hover::after{
    width: 100%;
}

@media(max-width: 576px){
    .avatar-small{
        width: 250px;
        height: 250px;
    }
}